/* styling */
.reveal .underline {
	border-bottom: 1px solid #333333;
}

.reveal p {
	font-size: 32px;
	font-family: serif;
}

.reveal .left {
	float: left;
	width: 48%;
}

.reveal .right {
	float: right;
	width: 48%;
}
.reveal .center {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position:absolute;
}

.reveal .left3 {
	float: left;
	width: 33%;
}

.reveal .right3 {
	float: right;
	width: 33%;
}

.reveal .center3 {
	float:left;
	width: 33%;
}

.reveal .text-center {
	text-align: center;
}

.reveal pre code.javascript {
        max-height: auto;
}

/* elements */
.reveal .costs {
	float: left;
	width: 25%;
	margin-bottom: 20px;
}
.reveal .city {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}
.reveal .cost {
	/*font-family: serif;*/
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 5px;
}

.reveal text {
	font-size: 16px;
}

.reveal .xAxis path,
.reveal .xAxis line {
	fill: none;
	stroke: #666;
	shape-rendering: crispEdges;
}

.reveal #costsSVG {
	height: 300px;
}